[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Script
Type=Application
Exec=/usr/bin/quickstart
Icon=
Terminal=true
StartupNotify=false
Hidden=false
GenericName=
GenericName[en_US]=
